/*Hardcoded styles*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

/*CSS variables - changed the default bootstraps properties*/
:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

/*hardcoded body requirements*/
body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
}

/*heading texts to stay the same for consistent sizes or color*/
h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

/*anchor links tags style*/
a {
    color: var(--dark);
    text-decoration: none;
}

/*images*/
img {
    width: 100%;
}

/*Navbar*/

.navbar {
    box-shadow: var(--box-shadow);
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}



/*Body Sections*/
.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.hero {
    background-image: url(img/hero1-img.jpg);
    background-position: center;
    background-size: 120%;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.5);
    z-index: -1;
}

section {
    padding-top: 120px;
    padding-bottom: 60px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service-image2 {
    height: auto;
    width: 100%;
}

.service::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url(img/hero-img.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.campaign {
    position: relative;
    overflow: hidden;
}

.campaign .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 20, 51, 0.8);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.campaign img {
    transition: all 0.4s ease;
}

.campaign:hover .overlay {
    opacity: 1;
}

.campaign:hover img {
    transform: scale(1.1);
}

/*Contact*/


/*Footer*/
